<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srravela.koolo" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".KooloApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true" />

        <activity
            android:name=".main.activities.KooloSplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activities.KooloMainActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_main" >
        </activity>
        <activity
            android:name=".settings.activities.KooloSettingsActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_settings" >
        </activity>
        <activity
            android:name=".home.activities.KooloHomeActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_home" >
        </activity>
        <activity
            android:name=".quotes.activities.KooloQuotesActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_quotes"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".passcode.activities.KooloPasscodeActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_passcode" >
        </activity>
        <activity
            android:name=".checklists.activities.KooloChecklistActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_checklist"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".KooloBaseActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_base"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".moods.activities.KooloMoodsActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_moods" >
        </activity>
        <activity
            android:name=".background.KooloBackgroundImageActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_background_image" >
        </activity>
        <activity
            android:name=".updates.KooloUpdatesActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_updates" >
        </activity>
        <activity
            android:name=".contributors.KooloContributorsActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_contributors" >
        </activity>
        <activity
            android:name=".license.KooloLicenseActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_license" >
        </activity>
        <activity
            android:name=".review.activities.KooloReviewActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_review" >
        </activity>
        <activity
            android:name=".humor.activities.KooloHumourActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_humour" >
        </activity>
        <activity
            android:name=".passcode.activities.KooloPasscodeVerificationActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/title_activity_koolo_passcode_verification" >
        </activity>
        <activity
            android:name=".calendar.activities.KooloCalendarActivity"
            android:label="@string/title_activity_koolo_calendar">
        </activity>
    </application>

</manifest>
